[Unit]
Description=Aplikasi Spring Postgres
After=syslog.target

[Service]
User=root
ExecStart=/app/builds/builds.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target